apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: {{ private_ip_address | to_json }}
  bindPort: {{ kubernetes_api_port }}
nodeRegistration:
  name: {{ inventory_hostname | to_json }}
  criSocket: {{ kubernetes_cri_socket | to_json }}
---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
clusterName: {{ kubernetes_cluster_name | to_json }}
kubernetesVersion: {{ ('v' ~ kubernetes_version) | to_json }}
controlPlaneEndpoint: {{ (private_ip_address ~ ':' ~ kubernetes_api_port) | to_json }}
networking:
  podSubnet: {{ kubernetes_pod_cidr | to_json }}
  serviceSubnet: {{ kubernetes_service_cidr | to_json }}
apiServer:
  certSANs: {{ kubernetes_api_cert_sans | to_json }}
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: systemd
failSwapOn: true
